{% extends 'rango/base.html' %}

{% block title_block %}
    Welcome to Rango!
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>

    {% if user.is_authenticated %}
        <p>howdy {{ user.username }}!</p>
    {% else %}
        <p>hey there partner!</p>
    {% endif %}

    <strong>{{ boldmessage }}</strong>

    <p>Here are the most liked categories:</p>
    <ul>
        {% for category in categories %}
            <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
